<html>

<head>
    <title>Hello Spring!</title>
</head>

<body>
    <h1>Hello from Spring Boot! This is a project from the java class.</h1>

    <p>This web app was built by {{name}}</p>

    <p>This is a project for the {{classCode}} {{className}} class.</p>

<a href="/about">Go to the about page</a>

</body>

</html>